Dockerfile
Dockerfile.*
docker-compose.*
.dockerignore
.editorconfig
.env
.env.example
.markdownlint.json
.gitignore
.python-version
.poetry/
.venv/
.vscode/
poetry.lock
**/*.pyc
**/__pycache__/
**/node_modules/
