annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
apscheduler==3.11.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
exceptiongroup==1.2.2 ; python_version == "3.10"
fastapi==0.115.12 ; python_version >= "3.10" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.10 ; python_version >= "3.10" and python_version < "4.0"
influxdb-client==1.48.0 ; python_version >= "3.10" and python_version < "4.0"
psutil==7.0.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.33.2 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.11.4 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
reactivex==4.0.4 ; python_version >= "3.10" and python_version < "4.0"
setuptools==80.1.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.46.2 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.13.2 ; python_version >= "3.10" and python_version < "4.0"
typing-inspection==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
tzlocal==5.3.1 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
uvicorn==0.34.2 ; python_version >= "3.10" and python_version < "4.0"
